<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Veterinaria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <h1>Mis Mascotas</h1>
    <table class="table">
        <thead>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Especie</td>
            <td>Sexo</td>
            <td>Fecha Nacimiento</td>
            <td>Acciones</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mascota:${mascotas}">
            <td th:text="${mascota.id}"></td>
            <td th:text="${mascota.nombre}"></td>
            <td th:text="${mascota.especie}"></td>
            <td th:text="${mascota.sexo}"></td>
            <td th:text="${mascota.fechaNacimiento}"></td>
            <td>
                <a th:href="@{/verProductos/}+${mascota.id}" class="btn btn-secondary">Comprar Productos</a>
                <a th:href="@{/verExpediente/}+${mascota.id}" class= "btn btn-secondary">Ver Expediente</a>
            </td>
        </tr>
        </tbody>

    </table>
    <br><br><br><br>
    <a th:href="@{/veterinaria}" class="btn btn-danger">Cerrar Sesión</a>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="funciones.js"></script>
</body>
</html>